@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
body {
    background: url('WALL.jpg') no-repeat center center fixed;
    background-size: cover;
   
}

.profile-pic {
    
    width: 120px;  
    height: 157px;
    border-radius: 50%; 
    margin-right: 10px; 
}



nav a {
    font-size: 1.2rem;
    color: white;
    margin: 0 15px;
    transition: 0.3s ease;
}

nav a:hover,
nav a.active {
    color: #050407;
    border-bottom: 2px solid #100f13;
}


section {
    min-height: 100vh;
    padding: 80px 10%;
}



.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about h2, .skills h2 {
    font-size: 3rem; 
    font-weight: bold;
}

.about p, .skills p {
    font-size: 2rem; 
    line-height: 1.6; 
    max-width: 800px;
    margin: 0 auto;
}

.home h1 {
    font-size: 3rem;
    font-weight: bold;
}

.home span {
    color: #060507;
}

.skills ul {
    font-weight: bold;
    font-size: 3.5rem;
}

.projects .project {
    background: #222;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    color: white;
    background: #333;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #876abd;
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}
